.photo-list-cover{
    width: 100%;
    height: 100%;
    background-repeat:no-repeat;
    background-size:100%;
/*     .cover{
        position: absolute;
        width: 100%;
        height: 100%;
    } */
    .timer{
        position: absolute;
        margin:30px;
        background: #000000;
        opacity: 0.5;
        border-radius: 5px;
        text-align: center;
        width: 40px;
        line-height: 20px;
        height: 20px;
        z-index: 10;
        color:white;   
    }
    .enter{
        width: 100%;
        height: 4.8rem;
        background: rgba(0,0,0,.8);
        border: none;
        color: #fff;
        text-align: center;
        line-height: 4.8rem;
        font-size: 1.8rem;
        position: absolute;
        bottom: 0;
        left: 0;
        cursor: pointer;
    }
}