@import './base.css';
::-webkit-scrollbar {
    width: 2px;
  }
  ::-webkit-scrollbar-thumb {
    background: #000;
  }
  .photo-water-fall {
    position: absolute;
    font-family: "Microsoft Yahei", arial;
    font-size: 12px;
    line-height: 1.5;
    text-align: center;
    margin: auto;
    margin-left: 3px;
    padding-bottom: 60px;
  }