@import './base.css';
::-webkit-scrollbar {
    width: 2px;
  }
  ::-webkit-scrollbar-thumb {
    background: #000;
  }
  .photo-water-fall {
    position: absolute;
    font-family: "Microsoft Yahei", arial;
    font-size: 12px;
    line-height: 1.5;
    text-align: center;
    margin: auto;
    margin-left: 3px;
    padding-bottom: 60px;
  }
#share {
  bottom: 100px;
  .share-button{
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 20px;
    background-color: #444444;
    color: #fff;
    text-align: center;
    font-size: 20px;
  }
}
.album-item{
  .view-time{
    position: absolute;
    font-size: 1rem;
    top: 6px;
    left: 10px;
    opacity: 0.5;
  }
}