@import '~antd/dist/antd.css';
.login-module{
    max-width: 320px;
    margin:0 auto;
    width: 100%;
    min-width: 300px;
    min-height: 600px;
    padding: 10px;
    box-sizing:content-box;
    border-radius: 10px;
    background-color: #fff;
    .login-module-section{
        margin-top:20px;
        .login-module-section-title{

        }
        .login-module-section-input{

        }
        Button{
            margin-top: 10px;
        }
    }
}